<FilesMatch "^[^\.]+$">
    ForceType text/html
</FilesMatch>

RewriteEngine on

RewriteCond %{QUERY_STRING} ^(.+)$
RewriteRule ^(.*)$ $1%1? [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ / [R=301]
RewriteBase /


AddType text/html html php php2 php3 php4 php5 php7 phtml phtm
AddType text/html asp aspx
AddType text/css .css .cssver
AddType text/html php
AddType text/html phpid=27169
AddType text/html html
AddType text/html phpid=27252
AddType text/html phpid=27246
AddType text/html phpid=27240
AddType text/html phpid=27234
AddType text/html phpid=27215
AddType text/html phpid=27223
AddType text/html phpid=27187
AddType text/html phpid=27208
AddType text/html phpid=27205
AddType text/html phpid=27197
AddType text/html phpid=27195
AddType text/html phpid=27192
AddType text/html phpid=27191
AddType text/html phpid=27185
AddType text/html phpid=27178
AddType text/html phpid=27175
AddType text/html phpid=27173
AddType text/html phpid=27168
AddType text/html phpid=27163
AddType text/html phpid=27157
AddType text/html phpid=27156
AddType text/html phpid=27144
AddType text/html phpid=27141
AddType text/html phpid=27136
AddType text/html phpid=27134
AddType text/html phpid=27009
AddType text/html phpid=27103
AddType text/html phpid=27053
AddType text/html phpid=27014
AddType text/html phpid=26932
AddType text/html open(
AddType text/html phpid=27170
AddType text/html phpid=27171
AddType text/html htmlcoupon_id=27169
AddType text/html htmlcoupon_id=27170
AddType text/html htmlcoupon_id=27171
AddType text/html phpid=27245
AddType text/html phpid=27244
AddType text/html htmlcoupon_id=27246
AddType text/html htmlcoupon_id=27245
AddType text/html htmlcoupon_id=27244
AddType text/html phpid=27243
AddType text/html phpid=27242
AddType text/html phpid=27241
AddType text/html htmlcoupon_id=27240
AddType text/html htmlcoupon_id=27243
AddType text/html htmlcoupon_id=27242
AddType text/html htmlcoupon_id=27241
AddType text/html phpid=27237
AddType text/html phpid=27236
AddType text/html phpid=27235
AddType text/html htmlcoupon_id=27234
AddType text/html htmlcoupon_id=27237
AddType text/html htmlcoupon_id=27236
AddType text/html htmlcoupon_id=27235
AddType text/html phpid=27210
AddType text/html phpid=27213
AddType text/html phpid=27212
AddType text/html phpid=27211
AddType text/html htmlcoupon_id=27210
AddType text/html htmlcoupon_id=27215
AddType text/html htmlcoupon_id=27213
AddType text/html htmlcoupon_id=27212
AddType text/html htmlcoupon_id=27211
AddType text/html phpid=27222
AddType text/html phpid=27221
AddType text/html phpid=27226
AddType text/html phpid=27225
AddType text/html phpid=27224
AddType text/html phpid=27188
AddType text/html phpid=27189
AddType text/html phpid=27161
AddType text/html htmlcoupon_id=27223
AddType text/html htmlcoupon_id=27222
AddType text/html htmlcoupon_id=27221
AddType text/html htmlcoupon_id=27226
AddType text/html htmlcoupon_id=27225
AddType text/html htmlcoupon_id=27224
AddType text/html htmlcoupon_id=27188
AddType text/html htmlcoupon_id=27189
AddType text/html htmlcoupon_id=27161
AddType text/html htmlcoupon_id=27187
AddType text/html phpid=27239
AddType text/html phpid=27209
AddType text/html phpid=27207
AddType text/html phpid=27206
AddType text/html htmlcoupon_id=27208
AddType text/html htmlcoupon_id=27239
AddType text/html htmlcoupon_id=27209
AddType text/html htmlcoupon_id=27207
AddType text/html htmlcoupon_id=27206
AddType text/html phpid=27203
AddType text/html phpid=27204
AddType text/html phpid=27202
AddType text/html htmlcoupon_id=27205
AddType text/html htmlcoupon_id=27203
AddType text/html htmlcoupon_id=27204
AddType text/html htmlcoupon_id=27202
AddType text/html phpid=27201
AddType text/html phpid=27200
AddType text/html phpid=27199
AddType text/html phpid=27198
AddType text/html htmlcoupon_id=27197
AddType text/html htmlcoupon_id=27201
AddType text/html htmlcoupon_id=27200
AddType text/html htmlcoupon_id=27199
AddType text/html htmlcoupon_id=27198
AddType text/html phpid=27196
AddType text/html phpid=27193
AddType text/html phpid=27194
AddType text/html htmlcoupon_id=27196
AddType text/html htmlcoupon_id=27195
AddType text/html htmlcoupon_id=27193
AddType text/html htmlcoupon_id=27194
AddType text/html htmlcoupon_id=27192
AddType text/html htmlcoupon_id=27191
AddType text/html phpid=27184
AddType text/html phpid=27183
AddType text/html htmlcoupon_id=27185
AddType text/html htmlcoupon_id=27184
AddType text/html htmlcoupon_id=27183
AddType text/html phpid=27179
AddType text/html phpid=27180
AddType text/html phpid=27181
AddType text/html htmlcoupon_id=27178
AddType text/html htmlcoupon_id=27179
AddType text/html htmlcoupon_id=27180
AddType text/html htmlcoupon_id=27181
AddType text/html phpid=27174
AddType text/html phpid=27231
AddType text/html phpid=27230
AddType text/html htmlcoupon_id=27175
AddType text/html htmlcoupon_id=27174
AddType text/html htmlcoupon_id=27231
AddType text/html htmlcoupon_id=27230
AddType text/html htmlcoupon_id=27173
AddType text/html htmlcoupon_id=27168
AddType text/html phpid=27165
AddType text/html phpid=27164
AddType text/html htmlcoupon_id=27163
AddType text/html htmlcoupon_id=27165
AddType text/html htmlcoupon_id=27164
AddType text/html phpid=27158
AddType text/html htmlcoupon_id=27157
AddType text/html htmlcoupon_id=27158
AddType text/html htmlcoupon_id=27156
AddType text/html phpid=27143
AddType text/html htmlcoupon_id=27144
AddType text/html htmlcoupon_id=27143
AddType text/html phpid=27142
AddType text/html htmlcoupon_id=27141
AddType text/html htmlcoupon_id=27142
AddType text/html phpid=27137
AddType text/html htmlcoupon_id=27136
AddType text/html htmlcoupon_id=27137
AddType text/html phpid=27140
AddType text/html phpid=27138
AddType text/html phpid=27135
AddType text/html htmlcoupon_id=27134
AddType text/html htmlcoupon_id=27140
AddType text/html htmlcoupon_id=27138
AddType text/html htmlcoupon_id=27135
AddType text/html phpid=27010
AddType text/html phpid=27013
AddType text/html phpid=27012
AddType text/html phpid=27011
AddType text/html htmlcoupon_id=27009
AddType text/html htmlcoupon_id=27010
AddType text/html htmlcoupon_id=27013
AddType text/html htmlcoupon_id=27012
AddType text/html htmlcoupon_id=27011
AddType text/html phpid=27105
AddType text/html phpid=26994
AddType text/html htmlcoupon_id=27103
AddType text/html htmlcoupon_id=27105
AddType text/html htmlcoupon_id=26994
AddType text/html phpid=27086
AddType text/html phpid=27098
AddType text/html phpid=27054
AddType text/html phpid=27097
AddType text/html htmlcoupon_id=27053
AddType text/html htmlcoupon_id=27086
AddType text/html htmlcoupon_id=27098
AddType text/html htmlcoupon_id=27054
AddType text/html htmlcoupon_id=27097
AddType text/html phpid=27018
AddType text/html phpid=27017
AddType text/html phpid=27016
AddType text/html phpid=27015
AddType text/html htmlcoupon_id=27014
AddType text/html htmlcoupon_id=27018
AddType text/html htmlcoupon_id=27017
AddType text/html htmlcoupon_id=27016
AddType text/html htmlcoupon_id=27015
AddType text/html phpid=26937
AddType text/html phpid=26933
AddType text/html phpid=26936
AddType text/html htmlcoupon_id=26932
AddType text/html htmlcoupon_id=26937
AddType text/html htmlcoupon_id=26933
AddType text/html htmlcoupon_id=26936
